

.btn-purple, .btn-md {
    border-radius: 8px;
    background-color: #5D37F3;
    width: 9.3rem;
    height: 4rem;
    color: #fff;
    font-family: 'firago', sans-serif ;
    font-size: 1.6rem;
    outline: none;
    border: none;
    cursor: pointer;

}

.margin-top-lg {
    margin-top: 3.2rem;
}
.btn-lg {
    width: 100%;
}

.btn-md {
    width: 30rem;
    height: 4rem;
}

