

.shared, .heading-lg, .heading-md, .heading-sm {
    font-family: 'firago', sans-serif ;
    color: #1A1A1F;

}

.heading-lg {
    line-height: 7.2rem;
    font-weight: 700;
    font-size: 6.4rem;
    justify-items: center;
    align-items: center;
    padding: 8rem;
}

.heading-md {
    font-size: 3rem;
}

.heading-sm {
    font-size: 1.8rem;
    
}

.heading-extra-sm {
    font-size: 1.4rem;
    
}

.align-normal {
    text-align: start;
}

.font-bold {
    font-weight: 700;
}

.font-mid {
    font-weight: 500;
}

.font-light {
    font-weight: 300;
}

.margin-bottom-lg {
    margin-bottom: 3.2rem;
}

.publish-date {
    color: #4d4d4e;
}

.mg-top-lg {
    margin-top: 3.2rem;
}

.mg-top-sm {
    margin-top: 1.6rem;

}

.margin-right-md {
    margin-right: 1.8rem;
}

.text-left {
    text-align: left;
}

.oneline {
    display: inline-block;
}

.text-center {
    text-align: center;
}