<div *ngIf="blog" class="blog" [hidden]="compareTime()">
    <app-blog-card-top 
        [imageSource]="blog.image"
        [author]="blog.author"
        [publish_date]="blog.publish_date">
    </app-blog-card-top>
    <div class="title-and-topics">
        <app-heading
            [headingText]="blog.title"
            [headingStyle]="'font-bold heading-md mg-top-lg text-left'">
        </app-heading>
        <div  class="blogflex">
            <app-topic-card 
                *ngFor="let category of blog.categories" 
                [topic]="category" 
            >
            </app-topic-card>
        </div>
    </div>
    <p class="blog-description">{{blog.description.substring(0,120)}}</p>
    <button class="see-more" routerLink="/blog/{{blog.id}}">სრულად ნახვა <span class="rotate-symbol">&uarr;</span></button>


</div>
