
.blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Center the content horizontally */
    text-align: center; /* Center the text content */
  }
  

  .title-and-topics {
    width: 100%;
  }
  

  .blogflex {
    margin-top: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between grid items as needed */
    align-items: center;
    justify-content: flex-start;
}
  
  .blog-description {
    text-align: left;
    margin-top: 1.6rem;
    color: #4d4d4e;
    font-family: 'firago', sans-serif;
    font-size: 1.4rem;
  }
  
  .see-more {
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 1.6rem;
    color: #5D37F3;
    font-size: 1.6rem;
    font-family: 'firago', sans-serif;
    cursor: pointer;
  }
  
  .rotate-symbol {
    display: inline-block;
    transform: rotate(45deg);
  }