
.topic-card-wrapper {
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.topic-card-btn {
    width: 70%;
    height: 70%;
    font-size: 1.2rem;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-family: 'firago', sans-serif;
    font-weight: 600;
}

