


.blogs-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
    gap: 3.2rem;
    margin-top: 9.6rem;
    margin-left: auto;
    margin-right: auto;
    width: 144rem;

}