

.hero {
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.hero-heading-wrapper {
    align-self: center;
    justify-self: left;
}

.hero-img-wrapper {
    align-self: center;
    justify-self: center;
}