<nav class="navbar" [ngClass]="{'content-center':modalService.currentRedberryLogo$ | async}">
    <div>

        <img [routerLink]="'/'" src="../../assets/LOGO-02 3.png" alt="logo"/>
    </div>
    <div *ngIf="!(modalService.currentRedberryLogo$ | async)">
        <div>
            <app-generic-btn 
                [btnText]="'შესვლა'"
                [btnStyle]="'btn-purple'"
                [showBtn]="!(accountService.currentUser$ | async)"
                [btnTypes]="btnType"
                (openModal)="openModal()">
            </app-generic-btn>
            <app-generic-btn 
                [btnText]="'დამატება'"
                [btnStyle]="'btn-purple'"
                [showBtn]="(accountService.currentUser$ | async)"
                [btnLink]="'/add-blog'">
            </app-generic-btn>
        </div>
    </div>
</nav>