
<div class="modal">
    <div class="inner-modal">
        <span (click)="closeModal()" class="modal-close">x</span>
        <div class="modal-success-content" *ngIf="displayOKMsg">
            <div class="success-symbol-wrapper">
                <img class="success-symbol" src="../../assets/tick-circle.png" alt="okstatus"/>
            </div>
            <app-heading 
            [headingText]="'წარმატებული ავტორიზაცია'"
            [headingStyle]="'heading-sm margin-bottom-lg'"></app-heading>
        </div>
        <div class="modal-from-content" *ngIf="!displayOKMsg">
            <app-heading 
            [headingText]="'შესვლა'"
            [headingStyle]="'heading-md'"></app-heading>
            <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" class="modal-form">
                <span>ელ-ფოსტა</span>
                <app-input 
                [control]="email"
                [placeholder]="'Example@redberry.ge'" 
                [type]="'email'">
            </app-input>
        </form>
        
        </div>
        <!-- trick to get aroung submiting the form from component -->
        <app-generic-btn
            [btnText]="'შესვლა'"
            [btnStyle]="'btn-purple btn-lg margin-top-lg'"
            [showBtn]="!displayOKMsg"
            [whichFormToSubmit]="'loginForm'"
            [typeOfBnt]="'submit'"
            [isFormDisabled]="loginForm.invalid"
            [btnTypes]="loginBtn"
            (submitLoginForm)="login()"
        >
        </app-generic-btn>

        <app-generic-btn
            [btnText]="'კარგი'"
            [btnStyle]="'btn-purple btn-lg margin-top-lg'"
            [showBtn]="displayOKMsg"
            [whichFormToSubmit]="'loginForm'"
            [typeOfBnt]="'button'"
            [isFormDisabled]="loginForm.invalid"
            [btnTypes]="closeModalAfterLoginbtn"
            (closeModalAfterLogin)="closeModalAfterLogin()"
        >
        </app-generic-btn>

        <!-- <button *ngIf="!displayOKMsg" form="loginForm" type="submit" class="login" [disabled]="loginForm.invalid">
            შესვლა
        </button> -->

        <!-- <button *ngIf="displayOKMsg" type="button" class="login" (click)="closeModalAfterLogin()">
            კარგი
        </button> -->
    </div>
</div>